    *{
        box-sizing: border-box;
        text-align: center;
    }

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ebebeb;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin:20px;
    
}


.header{
    background: red;
    text-align: center;
    
}

.nav{
    background: aquamarine;


}

.section{
   background:yellowgreen;
   float:left;
   width: 495px;

   

}

.aside{
    background: green;
    float: right;
    width: 300px;
    height: 431.93px;


    
    
}

.footer{
    background: #83224a;
    padding: 20px;
    clear: both;
}


.article{
    color: #ebebeb;
    background: #777;
    
}


.nested{
    color: blue;
    padding: 10px;

}


